<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-100">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="description"
    content="The  TP53 Database: knowledgebase and statistical tools for the analysis of TP53 gene variants in human cancers" />
  <title>{% block title %}{% endblock %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0EGD5HKC0S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-0EGD5HKC0S");
  </script>
  <script async src="https://assets.adobedtm.com/6a4249cd0a2c/785de09de161/launch-70d67a6a40a8.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/datatables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/backToTop.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ncids.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon" />
  {% endblock %}
</head>

<body tabindex="0" class="d-flex flex-column h-100 bg-light">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple py-4">
      <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav justify-content-evenly">
            <li class="nav-item mx-xl-1 mx-xxl-2">
              <a class="nav-link" id="home_menu" href="/">The <em>TP53</em> Database</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="about" href="/about">About</a>
            </li>
            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="tp53data" href="search_tp53data">Data-->
            <!--Explorer</a>-->
            <!--</li>-->
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="help" href="/help">User Manual</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="resources" href="/resources">Other Resources</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="events" href="/events">Events</a>
            </li>
            <li class="nav-item mx-xl-2 mx-xxl-3">
              <a class="nav-link" id="release_notes" href="/release_notes">Release Notes</a>
            </li>
            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="refs_corner" href="refs_corner"><i class="fas fa-book"></i> Refs Corner</a>-->
            <!--</li>-->
            <!--<li class="nav-item mx-2">-->
            <!--<a class="nav-link" id="ppl_events" href="ppl_events"><i class="me-2 far fa-newspaper"></i>People & Events</a>-->
            <!--</li>-->

            <!--<li class="nav-item mx-xl-2 mx-xxl-3">-->
            <!--<a class="nav-link" id="contact" href="contact">Contact</a>-->
            <!--</li>-->

            <!--<li class="nav-item ms-5 mt-2">-->
            <!--<form action="cse_search" method="get" role="search" class="d-flex">-->
            <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
            <!--aria-label="Search">-->
            <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
            <!--</form>-->
            <!--</li>-->
          </ul>
          <!--<li class="nav-item ms-5 mt-2">-->
          <!--<form action="cse_search" method="get" role="search" class="d-flex ">-->
          <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
          <!--aria-label="Search">-->
          <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
          <!--</form>-->
          <!--</li>-->
        </div>
        <!--<form action="cse_search" method="get" role="search" class="d-flex float-end px-2">-->
        <!--<input class="form-control form-control-sm me-2" type="search" name="q" placeholder="Search"-->
        <!--aria-label="Search">-->
        <!--<button class="btn btn-outline-light btn-sm" type="submit">Search</button>-->
        <!--</form>-->
      </div>
    </nav>
  </header>

  <main class="flex-grow-1">
    {% block content %} {% endblock %}
  </main>
  <footer class="usa-footer usa-footer--nci-big flex-grow-0">
    <div class="nci-footer-content">
      <div class="usa-footer__primary-section pt-4">
        <div class="grid-footer-container">
          <div class="row grid-gap">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">About</span>
                  <ul class="about-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a id="aboutLink" target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='about') }}">About TP53 Database</a>
                    </li>
                    <li class="usa-footer__secondary-link">Last Updated: {{ footer_last_updated }}</li>
                    <li class="usa-footer__secondary-link">Version: {{ footer_version }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">Resources</span>
                  <ul class="resource-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='help') }}">User Manual</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="{{ url_for('show', page='resources') }}">Other Resources</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                <div>
                  <span class="usa-footer__primary-link usa-footer__nci-list-header">Policies</span>
                  <ul class="resource-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/accessibility">Accessibility</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/foia">FOIA</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/privacy-security">Privacy &amp; Security</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/policies/disclaimer">Disclaimers</a>
                    </li>
                    <li class="usa-footer__secondary-link">
                      <a target="_blank" rel="noopener noreferrer" href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">Vulnerability Disclosure</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="usa-footer__secondary-section">
        <div class="grid-footer-container">
          <div class="grid-row grid-gap">
            <div class="usa-footer__logo grid-row desktop:grid-col-5">
              <div class="mobile-lg:grid-col-auto mobile-lg:margin-bottom-3">
                <p class="usa-footer__logo-heading">
                  <span class="logo__agency-name">National Cancer Institute </span>
                  <span class="logo__parent-organization">at the National Institutes of Health</span>
                </p>
              </div>
            </div>
            <div class="usa-footer__contact-links desktop:grid-col-7">
              <div class="usa-footer__contact-heading">Contact Us</div>
              <div class="usa-footer__address">
                <div class="usa-footer__contact-info grid-row grid-gap">
                  <div class="tablet:grid-col-auto">
                    <a href="mailto:tp53webadmin@mail.nih.gov">Support Email</a>
                  </div>
                  <div class="tablet:grid-col-auto tablet:margin-left-2">
                    <a href="tel:1-800-4-CANCER">1-800-4-CANCER</a>
                  </div>
                  <div class="tablet:grid-col-auto tablet:margin-left-2">
                    <a href="mailto:NCIinfo@nih.gov">NCIinfo@nih.gov</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-row grid-gap">
            <div class="usa-footer__social-links desktop:grid-col-5">
              <div class="usa-footer__social-heading">Follow us</div>
              <div class="grid-row grid-gap-1 nci-big__social">
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--facebook" href="https://www.facebook.com/cancer.gov" target="_blank" rel="noopener noreferrer">Facebook</a></div>
                <div class="grid-col-auto"><a class="usa-social-link" href="https://twitter.com/thenci" target="_blank" rel="noopener noreferrer">X</a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--instagram" href="https://www.instagram.com/nationalcancerinstitute/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--youtube" href="https://www.youtube.com/NCIgov" target="_blank" rel="noopener noreferrer">YouTube</a></div>
                <div class="grid-col-auto"><a class="usa-social-link usa-social-link--linkedin" href="https://www.linkedin.com/company/nationalcancerinstitute/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
              </div>
            </div>
            <div class="usa-footer__contact-links desktop:grid-col-7">
              <div class="usa-footer__address height-full">
                <div class="usa-footer__contact-info grid-row grid-gap height-full">
                  <address>
                    <a href="https://www.hhs.gov/" target="_blank" rel="noopener noreferrer">U.S. Department of Health and Human Services</a>
                    <a href="https://www.nih.gov/" target="_blank" rel="noopener noreferrer">National Institutes of Health</a>
                    <a href="https://www.cancer.gov/" target="_blank" rel="noopener noreferrer">National Cancer Institute</a>
                    <a href="https://usa.gov/" target="_blank" rel="noopener noreferrer">USA.gov</a>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-footer__return-to-top">
      <button type="button" aria-label="Back To Top" id="backToTop">
        <span class="back-to-top-text">Back To Top</span>
        <span class="back-to-top-icon" aria-hidden="true">&#8593;</span>
      </button>
    </div>
  </footer>
</body>

</html>